{% extends "authentication/layout.html" %} {% load static %} {% block content %}
<div class="row rtl farsi">
  <div class="col-md-6">
    {% include "authentication/includes/person-app/card.html" %}
  </div>

  {% if change_person_image_form %}

  <div class="col-md-4">
    {% include "authentication/includes/person-app/change-image.html" %}
  </div>
  {% endif %}
  {% if edit_person_form %}
  <div class="col-12">

    {% include "authentication/includes/edit-person-app/template.html" %}
  </div>
    
  {% endif %}
  {% if clip_board_items %}
    
  <div class="col-12">
    
    {% include "authentication/includes/clip-board-items-app/template.html" %}
  </div>
  {% endif %}
  {% if pages %}
  <div class="col-12">

    {% include "core/includes/pages-app/template.html" %}
  </div>
    
  {% endif %}
</div>
{% endblock content %} {% block script %}


  {% if pages %}

    {% include "core/includes/pages-app/script.html" %}
    
  {% endif %}
  
  {% if edit_person_form %}

    {% include "authentication/includes/edit-person-app/script.html" %}
    
  {% endif %}
  
  {% if clip_board_items %}
    {% include "authentication/includes/clip-board-items-app/script.html" %}
  {% endif %}
  {% endblock script %}
