{% include "accounting/includes/account-app/select-script.html" %}
<script>
  let add_sample_class_app = new Vue({
    el: "#add-sample-class-app",
    data: {
      title: "", 
      message:{show:false,},
      waiting:false,
    },

    components: {
      DatePicker: VuePersianDatetimePicker,
    },
    methods: {
      
 
      add_sample_class: function () {
        let payload = {
          csrfmiddlewaretoken: csrfmiddlewaretoken,
          title: this.title, 
        };

        console.log(payload);
        let url = "{% url 'sample_app:add_sample_class' %}";
        let posting = $.post(url, payload);
        posting.done((data) => {
          console.log(data);
          if (data.result === "SUCCEED") {
            show_message(add_sample_class_app,'موفق',data.message,'success',3000)
            add_sample_class_app.title=''
            if (typeof sample_classes_app != "undefined") {
              sample_classes_app.sample_classes.push(data.sample_class);
            }
          }
          else{
            show_message(add_sample_class_app,'خطا',data.message,'danger',3000)

          }
        });
      },
    },
  });
</script>
