<div class="card">
  {% load to_price %}
  <div class="card-body">
    {% include 'accounting/includes/financial-event-app/card-contents.html' %}
    {% for project in invoice.project_set.all %}
    <h5>
      <small class="text-muted">
        پروژه
      </small>
      <a target="_blank" href="{{project.get_absolute_url}}" class="text-info mx-2">

        {{project.title}}
      </a>
    </h5>
    {% endfor %}
    <a class="text-info mx-2" href="{% url 'accounting:invoice_edit' pk=invoice.id%}"> تغییر </a>

    <a class="text-info mx-2" href="{% url 'accounting:invoice_print' pk=invoice.id%}"> چاپ </a>

    <a class="text-success mx-2" href="{% url 'accounting:invoice_to_excel' pk=invoice.id%}"> اکسل </a>


  </div>
</div>