<script>
    let invoice_id=parseInt("{{invoice.id}}")
    let invoice=JSON.parse("{{invoice_s|escapejs}}")
</script>

{% include "accounting/includes/financial-event-app/script.html" %}


{% if add_invoice_line_form %}
{% include "accounting/includes/add-invoice-line-app/script.html" %}
{% endif %}

{% include "accounting/includes/invoice-lines-app/script.html" %}
{% if edit_invoice_form %}
{% include "accounting/includes/edit-invoice-app/script.html" %}
{% endif %}



 <script>
    &=$(document).ready(()=>{
        if(typeof edit_invoice_app != 'undefined'){
            edit_invoice_app.bestankar=invoice.bestankar
            edit_invoice_app.bestankar_code=invoice.bestankar.code
            edit_invoice_app.bedehkar=invoice.bestankar
            edit_invoice_app.bedehkar_code=invoice.bestankar.code
        }
    })
 </script>

