<div id="accordion-schools" class="rtl text-right farsi">
  <div class="card" id="schools-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-schools"
          aria-expanded="true"
          aria-controls="collapse-schools"
        >
          آموزشگاه ها
          <span v-if="schools.length>0">
            <small class="text-danger mx-2">
              <span v-text="schools.length"></span>
            </small>
          </span>
        </button>
      </h5>
    </div>

    <div
      id="collapse-schools"
      class="collapse {% if expand_schools %} show {% endif %}"
      aria-labelledby="heading-schools"
      data-parent="#accordion-schools"
    >
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
               
              <th>نام آموزشگاه</th>
 
              <th>

              </th>
            </thead>
            <tbody>
              <tr v-for="school in schools">
                
                <td>
                  <a :href="school.get_absolute_url">
                    <span v-text="school.name"></span>
                  </a>

                  

 
                </td>
                
                <td>
                  <a
                    target="_blank"
                    :href="school.get_edit_url"
                    title="ویرایش"
                    class="text-warning mx-2"
                  >
                    <i class="fa fa-edit text-warning"> </i>
                    ویرایش
                  </a>
                  <a
                    target="_blank"
                    :href="school.get_delete_url"
                    title="حذف"
                    class="text-danger mx-2"
                  >
                    <i class="fa fa-trash text-danger"> </i>
                    حذف
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
