<div id="accordion-add-traffic" class="rtl text-right farsi">
  <div class="card" id="add-traffic-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-traffic"
          aria-expanded="true"
          aria-controls="collapse-add-traffic"
        >
          افزودن تردد
        </button>
      </h5>
    </div>
    <div
      id="collapse-add-traffic"
      class="collapse"
      aria-labelledby="heading-add-traffic"
      data-parent="#accordion-add-traffic"
    >
      <div class="card-body">
        <form @submit.prevent="add_traffic()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">عنوان</label>
                <input v-model="title" type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <button v-if="!waiting" class="btn btn-success" type="submit">
                <i class="fa fa-plus"></i>
                افزودن
              </button>
              {% load static %}
              <img
                src="{% static 'leo/img/loading.gif' %}"
                width="32"
                v-if="waiting"
                alt=""
              />
            </div>

            <div class="col-md-12">
              <div>
                <div v-if="message.show" class="my-2">
                  <div :class="'alert alert-'+message.color">
                    <h5 v-html="message.title"></h5>
                    <div v-html="message.body"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
