{% load static %}
{% load to_price %}
{% load account_code_seperator %}

{% load to_price_color_btn %}
<div class="card rtl text-right">
    <div class="card-header">
<h6>دسته بندی شخص</h6>
    </div>
    <div class="card-body">
        <a href="{{person_account.person_category.get_absolute_url}}">
            {{person_account.person_category.title}}
        </a>
        
        {% if perms.accounting.change_personcategory %}
        <a href="{{person_account.person_category.get_edit_url}}" class="my-2 text-warning mx-2" title="ویرایش"
            target="_blank">
            <i class="fa fa-edit text-warning"></i> ویرایش
        </a>
        {% endif %}
        {% if perms.accounting.delete_personcategory %}
        <a href="{{person_account.person_category.get_delete_url}}" class="my-2 text-danger mx-2" title="حذف" target="_blank">
            <i class="fa fa-trash text-danger"></i> حذف
        </a>
        {% endif %}
    </div>
</div>