<div id="accordion-sample-classes" class="rtl text-right farsi">
  <div class="card" id="sample_classes-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-sample-classes"
          aria-expanded="true"
          aria-controls="collapse-sample-classes"
        >
          کلاس های نمونه
          <span v-if="sample_classes.length>0">
            <small class="text-danger mx-2">
              <span v-text="sample_classes.length"></span>
            </small>
          </span>
        </button>
      </h5>
    </div>

    <div
      id="collapse-sample-classes"
      class="collapse {% if expand_sample_classes %} show {% endif %}"
      aria-labelledby="heading-sample-classes"
      data-parent="#accordion-sample-classes"
    >
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th>کلاس نمونه</th>

              <th></th>
            </thead>
            <tbody>
              <tr v-for="sample_class in sample_classes">
                <td>
                  <a :href="sample_class.get_absolute_url">
                    <span v-text="sample_class.person.full_name"></span>
                  </a>
                </td>

                <td>
                  {% if perms.sample_app.change_sampleclass %}
                  <a
                    target="_blank"
                    :href="sample_class.get_edit_url"
                    title="ویرایش"
                    class="text-warning mx-2"
                  >
                    <i class="fa fa-edit text-warning"> </i>
                    ویرایش
                  </a>
                  {% endif %} {% if perms.sample_app.delete_sampleclass %}
                  <a
                    target="_blank"
                    :href="sample_class.get_delete_url"
                    title="حذف"
                    class="text-danger mx-2"
                  >
                    <i class="fa fa-trash text-danger"> </i>
                    حذف
                  </a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
