{% include "accounting/includes/account-app/select-script.html" %}
<script>
  let add_course_app = new Vue({
    el: "#add-course-app",
    data: {
    title: "", 
    },

    components: {
      DatePicker: VuePersianDatetimePicker,
    },
    methods: {
      
 
      add_course: function () {
        let payload = {
          csrfmiddlewaretoken: csrfmiddlewaretoken,
          title: this.title, 
        };

        console.log(payload);
        let url = "{% url 'school:add_course' %}";
        let posting = $.post(url, payload);
        posting.done((data) => {
          console.log(data);
          if (data.result === "SUCCEED") {
            add_course_app.title=''
            if (typeof courses_app != "undefined") {
              courses_app.courses.push(data.course);
            }
          }
        });
      },
    },
  });
</script>
