
<div id="accordion-add-meal-item" class="rtl text-right farsi">

<div class="card" id="add-meal-item-app">
  <div class="card-header">
    <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-meal-item"
          aria-expanded="true"
          aria-controls="collapse-add-meal-item"
        >
        افزودن آیتم وعده          
        </button>
      </h5>
  </div>
   <div
      id="collapse-add-meal-item"
      class="collapse {% if expand_add_meal_item %} show {% endif %}"
      aria-labelledby="heading-add-meal-item"
      data-parent="#accordion-add-meal-item"
    >
  <div class="card-body">
    <form @submit.prevent="add_meal_item()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">آیتم</label>
            <select v-model="food_item_id" class="form-control">
              <option :value="food_item.id" v-for="food_item in food_items"
                v-text=" food_item.title +' هر '+food_item.unit_name+ '  ' +to_price(food_item.unit_price) + '{{CURRENCY}}' ">
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="">تعداد</label>
            <input v-model="quantity" type="number" class="form-control" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">واحد</label>
            <select v-model="unit_name" class="form-control">

              {% for unit_name in unit_names_for_add_invoice_line %}

              <option value="{{unit_name}}">{{unit_name}}</option>
              {% endfor %}

            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">قیمت
              <small class="text-secondary my-2">
                <span v-text="to_price(unit_price)"></span>
                {{CURRENCY}}
              </small>
            </label>
            <input v-model="unit_price" type="number" class="form-control" />

          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="">
              درصد تخفیف

              <small class="text-secondary my-2">
                <span v-text="discount_percentage"></span> %

              </small>
            </label>
            <input max="100" min="0" v-model="discount_percentage" type="number" class="form-control" />
          </div>
        </div>
        
        <div class="col-md-12"></div>

        <div class="col-md-4">
          <div class="form-group">
            <label for=""> ضریب </label>
            <input
              max="100"
              min="0"
              v-model="coef"
              type="number"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">ذخیره</label>
            <input type="checkbox" class="form-control" v-model="save" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">پیش فرض</label>
            <input type="checkbox" class="form-control" v-model="default11" />
          </div>
        </div>

        <div class="col-md-12">

          <span v-text="to_price(unit_price)+'*'+quantity+'='+to_price(unit_price*quantity)"></span>
       
       {{CURRENCY}}
        </div>
        <div class="col-md-12">
          <button class="btn btn-success" type="submit">
            <i class="fa fa-plus"></i>
            افزودن
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>