{% extends "organization/layout.html" %} {% load to_price %} {% load static %}
{% block content %}
<div class="row rtl farsi">
  <div class="col-md-4">
    {% include "organization/includes/organization-unit-app/card.html" %}

  </div>
  <div class="col-md-12">
    <div class="text-center"></div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-12">
    {% include "organization/includes/employees-app/template.html" %}
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  let organization_unit_id = parseInt("{{organization_unit.id}}");
</script>
{% include "organization/includes/employees-app/script.html" %} 
{% endblock script %}
