{% extends "accounting/layout.html" %}
{% block content %}
<div class="row rtl farsi">
  <div class="col-md-12">
    {% include "core/includes/page-app/card.html" %}
  </div>
  <div class="col-md-12">
    {% include "attachments/includes/links-app/template.html" %}
  </div>
  
  <div class="col-md-12">
    {% include "attachments/includes/downloads-app/template.html" %}
  </div>
  <div class="col-md-12">
    {% include "attachments/includes/comments-app/template.html" %}
  </div>
  

  <div class="col-md-12"></div>
</div>
{% endblock content %}
{% block script %}
{% include "core/includes/page-app/script.html" %}
 
 
{% endblock script %}
