{% extends "accounting/layout.html" %}
{% load static %}
{% block content %}
<div class="row rtl farsi">
    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:accounts' %}">
            <img src="{% static 'core/img/logo.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                حساب ها
            </h6>
        </a>
    </div>
    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:tree_chart' pk=0 %}">
            <img src="{% static 'core/img/logo.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                نمودار درختی
            </h6>
        </a>
    </div>

    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:categories' %}">
            <img src="{% static 'core/img/logo.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
            دسته بندی ها
            </h6>
        </a>
    </div>

      <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:financial_documents' %}">
            <img src="{% static 'core/img/logo.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                اسناد مالی
            </h6>
        </a>
    </div>

    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:products'  %}">
            <img src="{% static 'accounting/img/product.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                کالا ها
            </h6>
        </a>
    </div>
    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:services'  %}">
            <img src="{% static 'accounting/img/pages/thumbnail/service.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                خدمات
            </h6>
        </a>
    </div>
    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:financial_years'  %}">
            <img src="{% static 'accounting/img/invoice.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
            سال های مالی    
            </h6>
        </a>
    </div>

    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:invoices'  %}">
            <img src="{% static 'accounting/img/invoice.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                فاکتور ها
            </h6>
        </a>
    </div>
    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:financial_events'  %}">
            <img src="{% static 'accounting/img/invoice.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                رویداد های مالی
            </h6>
        </a>
    </div>

    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:add_financial_event'  %}">
            <img src="{% static 'accounting/img/invoice.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                افزودن رویداد مالی
            </h6>
        </a>
    </div>


    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:settings'  %}">
            <img src="{% static 'img/icons/settings.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                تنظیمات
            </h6>
        </a>
    </div>

    
    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'accounting:selection'  %}">
            <img src="{% static 'img/icons/settings.png' %}" width="64em" class="mb-2" alt="">
            <h6 class="text-center">
                انتخاب حساب
            </h6>
        </a>
    </div>
   

   



</div>
{% endblock content %}

{% block script %}

{% endblock script %}