{% extends "accounting/layout.html" %}
{% block content %}
<div class="row rtl farsi">
    {% if add_invoice_line_form %}
    <div class="col-md-12 ">
        {% include "accounting/includes/add-invoice-line-app/template.html" %}
    </div>
    {% endif %}
    <div class="col-md-12">
        {% include "accounting/includes/invoice-app/card.html" %}
    </div>
    <div class="col-md-12 ">
        {% include "accounting/includes/invoice-lines-app/template.html" %}
    </div>

     <div class="col-md-12 ">
        {% include "accounting/includes/financial-document-lines-app/template.html" %}
    </div>
    
  {% if add_financial_document_line_form %}
  <div class="col-md-12">
    {% include "accounting/includes/add-financial-document-line-app/template.html" %}
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block script %}

{% include "accounting/includes/financial-event-app/script.html" %}
 
{% include "accounting/includes/invoice-app/script.html" %}

{% if add_invoice_line_form %}
{% include "accounting/includes/add-invoice-line-app/script.html" %}
{% endif %}
{% include "accounting/includes/invoice-lines-app/script.html" %} 

  {% if add_financial_document_line_form %}
    {% include "accounting/includes/add-financial-document-line-app/script.html" %}
  {% endif %}
{% endblock script %}