{% extends "accounting/layout.html" %}


{% block content %}
<div class="row rtl farsi">
    <div class="col-md-4">
        {% include "accounting/includes/person-account-app/card.html" %}
    </div>
    
    <div class="col-md-4">
        {% include "accounting/includes/account-app/card-full.html" %}
    </div>

    <div class="col-md-4">
        {% include "accounting/includes/person-account-app/category.html" %}
    </div>

    <div class="col-md-12">
        {% include "accounting/includes/financial-events-app/template.html" %}
    </div>

    

    <div class="col-md-12">
        {% include "accounting/includes/financial-document-lines-app/template.html" %}
    </div>

    
    {% if add_financial_document_line_form %}
     
    <div class="col-md-12">
        {% include "accounting/includes/add-financial-document-line-app/template.html" %}
    </div>
  
    {% endif %}
     
    

</div>
{% endblock content %}


{% block script %}
{% include "accounting/includes/person-account-app/script.html" %}  

{% endblock script %}