{% extends "accounting/layout.html" %}
{% block content %}
<div class="row rtl farsi">
     
    <div class="col-md-12">
       
                {% include "accounting/includes/product-app/card.html" %}

    </div>
      <div class="col-md-12">
                {% include "accounting/includes/product-units-app/template.html" %}
            </div>

    <div class="col-md-12 ">
    </div>
    
</div>
{% endblock content %}

{% block script %}
{% include "accounting/includes/product-app/script.html" %}
<script>
    
   const product_id=parseInt("{{product.id}}")
    

</script> 

 
                {% include "accounting/includes/product-units-app/script.html" %}


{% endblock script %}