
{% extends "chef/layout.html" %}
{% load static %}
{% block content %}
<div class="row rtl farsi">
    {% if add_meal_form %}
      <div class="col-md-12">
          {% include "chef/includes/add-meal-app/template.html" %}

      </div>
    {% endif %}
    <div class="col-md-12">

        
        {% include "chef/includes/meals-app/template.html" %}
    </div>

</div>
{% endblock content %}


{% block script %}
{% include "chef/includes/meals-app/script.html" %}
{% if add_meal_form %}
{% include "chef/includes/add-meal-app/script.html" %}
{% endif %}
{% endblock script %}