{% extends "core/layout.html" %} {% load static %} {% block content %}
<div class="row rtl farsi my-3">
  <div class="col-12" style="background: url('{{coming_soon_picture.image}}');background-size: auto; height: 1000px; "  >
    asa 
    <!-- <img src="{{coming_soon_picture.image}}" width="100%" alt=""> -->
    
  </div> 
</div>
{% endblock content %} {% block script %}
<script>
  console.log("name1: {{name1}}");
  console.log("name2: {{name2}}");
  console.log("name3: {{name3}}");
</script>


{% endblock script %}
{% block style %}
  <style>
   
  </style>
{% endblock style %}
