<div id="accordion-add-material-request" class="rtl text-right farsi">
  <div class="card" id="add-material-request-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-material-request"
          aria-expanded="true"
          aria-controls="collapse-add-material-request"
        >
          درخواست متریال جدید
        </button>
      </h5>
    </div>

    <div
      id="collapse-add-material-request"
      class="collapse"
      aria-labelledby="heading-add-material-request"
      data-parent="#accordion-add-material-request"
    >
      <div class="card-body">
          <div class="row rtl">
            <div class="col-4">
              <div class="form-group">
                <label for=""> عنوان کالا </label>
                <input v-model="title" type="text" class="form-control" />
              </div>

              <div class="form-group">
                <label for=""> بارکد کالا </label>
                <input v-model="barcode" type="text" class="form-control" />
              </div>

               <div class="form-group">
                <label for=""> شناسه کالا </label>
                <input v-model="product_id" type="text" class="form-control" />
              </div>
              <div class="my-2">
                <button class="btn btn-info" @click="search()">
                    جستجو
                </button>
              </div>
            </div>

            <div class="col-8">
             


                <div v-for="product in products">
                    {% include "accounting/includes/product-app/media.html" %}
                    <button class="btn btn-primary" @click="select_item(product)">
                      انتخاب
                      
                    </button>
                  </div>
                   <div v-for="invoice_line_item_unit in invoice_line_item_units">
                     <button class="btn btn-block my-2 btn-success"  @click="select_invoice_line_item_unit(invoice_line_item_unit)"
                v-text="' هر '+ invoice_line_item_unit.unit_name +' ' +to_price(invoice_line_item_unit.unit_price)+' {{CURRENCY}}'"></button>
          
                </div>

            </div>
          </div>

            <div class="row rtl">
            <div class="col-4">
              <div class="form-group">
                <label for=""> عنوان کالا </label>
                <input v-model="title" type="text" class="form-control" />
              </div>

              <div class="form-group">
                <label for=""> تعداد </label>
                <input v-model="quantity" type="text" class="form-control" />
              </div>

               <div class="form-group">
                <label for=""> واحد </label>
                <input v-model="unit_name" type="text" class="form-control" />
              </div>

                <div class="form-group">
                <label for=""> وضعیت </label>
                <input v-model="status" type="text" class="form-control" />
              </div>

              
                <div class="form-group">
                <label for=""> شماره فاکتور </label>
                <input v-model="invoice_id" type="number" class="form-control" />
              </div>

              
                <div class="form-group">
                <label for=""> شناسه انبار </label>
                <input v-model="warehouse_id" type="number" class="form-control" />
              </div>
               <div class="form-group">
                <label for=""> قیمت جزء </label>
                <input v-model="unit_price" type="text" class="form-control" />
              </div>
               <div class="form-group">
                <label for=""> جهت </label>
                <select v-model="direction" type="text" class="form-control" >
                  <option selected value="خروج">خروج</option>
                  <option value="ورود">ورود</option>
                </select>
              </div>
              <div class="my-2">
                <button class="btn btn-info" @click="add_material_request()">
                    افزودن درخواست متریال
                </button>
              </div>
            </div>

            <div class="col-8">
                
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
