{% if my_links %}
<li class="nav-item dropdown"  id="my-links-app">
  <a
    class="nav-link dropdown-toggle text-right"
    href="#"
    id="navbarDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    لینک
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <div v-for="my_link in my_links">
      <a target="_blank"
        class="dropdown-item"
        style="text-align: right"
        :href="my_link.link.url"
      >
        <span v-text="my_link.link.title"></span>
      </a>

      <button class="btn btn-sm btn-danger" @click="delete_my_link(my_link.id)">
        -
      </button>
    </div>
  </div>
</li>

{% endif %}
