{% load static %}
<h5>
  <a href="{% url 'core:page' pk=page.id %}">
    page
  </a>
</h5>

<img src="{{page.thumbnail}}" width="128" alt="">
<h5>{{page.title}}</h5>
<div>{% include "core/includes/page-like-app/template.html" %}</div>

<div>
  <form
    action="https://www.google.com/search"
    method="get"
    target="_blank"
    id="search-form"
  >
    <input name="q" type="hidden" value="{{page.title}}" />
    <button type="submit" class="btn btn-link p-0">
      <img src="{% static 'icons/google.png' %}" width="32" alt="" />

      جستجوی گوگل
    </button>
  </form>
</div>

{% if perms.core.change_page %}
<a
  href="{{page.get_edit_url}}"
  class="my-2 text-warning mx-2"
  title="ویرایش"
  target="_blank"
>
  <i class="fa fa-edit text-warning"></i>
</a>
{% endif %}
{% if perms.core.delete_page %}
<a
  href="{{page.get_delete_url}}"
  class="my-2 text-danger mx-2"
  title="حذف"
  target="_blank"
>
  <i class="fa fa-trash text-danger"></i>
</a>
{% endif %}
