{% load static %}
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/js/popper.min.js' %}"></script>
<script src="{% static 'utility/js/utility.js' %}"></script>
<script src="{% static 'dashboard/js/plugins/bootstrap-notify.js' %}"></script>


{% if VUE_VERSION_3 %}

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>
{% endif %}
{% if VUE_VERSION_2 %}

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>

{% endif %}


<script src="{% static 'utility/js/message.js' %}"></script>
<script>
    let DEBUG = false
</script>

{% if DEBUG %}
{% if VUE_VERSION_3 %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endif %}
{% if VUE_VERSION_2 %}
<script src="{% static 'vendor/js/vue.js' %}"></script>
{% endif %}
<script>
    DEBUG = true
</script>
{% else %}

{% if VUE_VERSION_3 %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endif %}
{% if VUE_VERSION_2 %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% endif %}

{% endif %}

<script>
    let CURRENCY = '{{CURRENCY}}'
    let current_datetime = "{{current_datetime}}"
    let current_date = "{{current_date}}"
    function leolog(data) {
        if (DEBUG) {
            console.log(data)
        }
    }
</script>
<script>
    var csrfmiddlewaretoken = ''
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()

        $(".notification-divider:last").addClass("d-none")
    })
</script>