<tr>
  <td>
    <span v-text=" 1"></span>
  </td>
  <td>
    {% include "school/includes/student-app/media.html" %}
</td>
  <td>
    <span v-text="student.father_name"></span>
  </td>
  <td>
    <span v-text="student.melli_code"></span>
  </td>
  <td>
 
    <input type="number" v-model="score" min="0" max="20" class="form-control">
    <input type="text"   v-model="description" class="form-control">
    <button class="btn btn-success" @click="set_attend()">
        حاضر
    </button>

     <button class="btn btn-danger" @click="set_absent()">
        غایب
    </button>

     <button class="btn btn-warning" @click="set_delayed()">
        تاخیر
    </button>
 

  </td>
</tr>
