
{% extends "school/layout.html" %}
{% load static %}
{% block content %}
<div class="row rtl farsi">
    {% if add_teacher_form %}
      <div class="col-md-12">
          {% include "school/includes/add-teacher-app/template.html" %}

      </div>
    {% endif %}
    <div class="col-md-12">

        
        {% include "school/includes/teachers-app/template.html" %}
    </div>

</div>
{% endblock content %}


{% block script %}
{% include "school/includes/teachers-app/script.html" %}
{% if add_teacher_form %}
{% include "school/includes/add-teacher-app/script.html" %}
{% endif %}
{% endblock script %}