{% include 'core/includes/page-app/card-contents.html' %}
{% load to_price %}
<h5>
    <small class="text-muted"> مبلغ :</small>
    {{financial_event.amount|to_price}} {{CURRENCY}}
</h5>
<hr>
<small>
    بدهکار :
</small>
<div>

    <a href="{{financial_event.bedehkar.get_absolute_url}}">
        <div class="media">
            <img src="{{financial_event.bedehkar.thumbnail}}" width="48" alt="">
            <div class="media-body mr-2">
                <h6 class="text-{{financial_event.bedehkar.color}}">
                    {{financial_event.bedehkar.name}}
                </h6>
                <h6 class="text-{{financial_event.bedehkar.color}}">
                    {{financial_event.bedehkar.code}}
                </h6>
            </div>
        </div>
    </a>
</div>



<hr>

<small>
    بستانکار :
</small>
<div>

    <a href="{{financial_event.bestankar.get_absolute_url}}">
        <div class="media">
            <img src="{{financial_event.bestankar.thumbnail}}" width="48" alt="">
            <div class="media-body mr-2">
                <h6  class="text-{{financial_event.bestankar.color}}">
                    {{financial_event.bestankar.name}}
                </h6>

                <h6  class="text-{{financial_event.bestankar.color}}">
                    {{financial_event.bestankar.code}}
                </h6>
            </div>
        </div>
    </a>
</div>
<hr>
