{% extends "utility/layout.html" %}
{% load static %}

{% block content %}
<div class="row rtl" id="selection-app">

    {% if persons %}
    <div class="col-md-12">
        {% include "authentication/includes/persons-app/template.html" %}
    </div>
    {% endif %}

    
    {% if accounts %}
    <div class="col-md-12">
        {% include "accounting/includes/accounts-app/template.html" %}
    </div>
    {% endif %}



    {% if products %}
    <div class="col-md-12">
        {% include "accounting/includes/products-app/list-template.html" %}
    </div>
    {% endif %}

    

    {% if services %}
    <div class="col-md-12">
        {% include "accounting/includes/services-app/template.html" %}
    </div>
    {% endif %}



    {% if categories %}
    <div class="col-md-12">

        {% include "accounting/includes/categories-app/list-template.html" %}

    </div>
    {% endif %}



    {% if not WAS_FOUND %}
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h5 class="text-center">
                    موردی پیدا نشد.
                </h5>
            </div>
        </div>
    </div>
    {% endif %}


</div>
{% endblock content %}


{% block script %}

{% if accounts %}
{% include "accounting/includes/accounts-app/script.html" %}

{% endif %}


{% if products %}
    {% include "accounting/includes/products-app/list-script.html" %}
{% endif %}


{% if categories %}
    {% include "accounting/includes/categories-app/list-script.html" %}
{% endif %}

{% if services %}
    {% include "accounting/includes/services-app/script.html" %}
{% endif %}


    {% if persons %}
        {% include "authentication/includes/persons-app/script.html" %}
    {% endif %}
<script>
    let log = '{{log}}'
    let WAS_FOUND = '{{WAS_FOUND}}'
    let result = '{{result}}'
    let message = '{{message}}'
</script>
{% endblock script %}